<div class="black-background"></div>
<div class="photo-container" 
  ng-style="{'background-image':'url('+game.manager.currentPhoto.image_url+')'}" 
  ng-show="game.manager.state === 'waiting' || game.manager.state === 'running'" 
  ng-class="{blurred: game.manager.state === 'waiting', translucent: game.manager.resultsSplash !== null}"
></div>



<div class="loading-bar" ng-style="{'width': game.manager.loadPercent + '%'}" ng-hide="game.manager.state !== 'initial'"></div>

<div class="loading-overlay" ng-if="game.manager.state === 'initial'"></div>
<div class="instructions">
  
</div>


<div class="results-splash" ng-show="game.manager.resultsSplash !== null">
  <div class="right" ng-if="game.manager.resultsSplash === true">
    <i class="fa fa-check"></i> You're right!
  </div>

  <div class="wrong" ng-if="game.manager.resultsSplash === false">
    <i class="fa fa-times"></i> Sorry, that was wrong.
  </div>

  <button ng-click="game.manager.goToNextQuestion()">Next Question</button>
</div>

<h2 style="display: block; position: absolute; z-index: 3; top: 20%;">{{ game.manager.photos.length + " and " + game.manager.loadedPhotos.length }}</h2>

<div class="start-button" ng-if="game.manager.state === 'initial' || game.manager.state === 'waiting'">
  <button ng-click="game.manager.startGame()">{{ game.manager.state === 'initial' ? 'Loading...' : 'Start Game' }}</button> 
</div>

<div class="answers" ng-class="{show: game.manager.state === 'running'}">
  <ul>
    <li ng-repeat="answer in game.manager.currentAnswers" ng-click="game.manager.submitAnswer(answer)">
      <h3>{{answer.city}}</h3>
      <h5>{{answer.country}}</h5>
    </li>
  </ul>
</div>
