@import 'variables';


@keyframes glowing-checkmark {
  20%   { 
    color: $green2;
    transform: rotate(-2deg);
    margin-left: 1.9rem;
  }
  30%  { 
    color: $green; 
    transform: rotate(2deg) scale(1.2, 1.2);
    margin-left: 2.7rem;
  }
  40% { 
    color: $green2; 
    transform: rotate(-2deg);
    margin-left: 1.9rem;
  }
}

@keyframes glowing-x {
  20%   { 
    color: $red;
    transform: rotate(0deg);
  }
  22%  { 
    transform: rotate(12deg) scale(1.4, 1.4);
  }
  24% {
    color: #FF1104; 
    transform: rotate(-15deg) scale(1.2, 1.2);
  }
  25% {
    transform: rotate(10deg) scale(1.1, 1.1);
  }
  26% {
    transform: rotate(-8deg) scale(0.9, 0.9);
  }
  28% { 
    color: $red; 
    transform: rotate(0deg);
  }
}