// Colors
$lightblue:   #62b1c6;
$darkblue:    #4e6470;
$tan:         #a0988d;
$orange:      #ee6748;
$teal:        #23c9bf;  
$red:         #e24c65;
$lightgrey:   #e9ebec;
$darkgrey:    #111111;


// Sizes
$headerHeight: 5rem;