@import 'variables';

#wrapper > header {
  position: relative;
  z-index: 3;
  background: #FFF;
  height: $headerHeight;

  &.game-active {
    background: rgba(255,255,255,0.2);
  }

  h1 {
    margin: 0 0 0 $headerHeight;
    padding: 0;
    line-height: $headerHeight;
  }

  .logosquares {
    position: absolute;
    width: $headerHeight * 0.4;
    height: $headerHeight * 0.4;
    top: $headerHeight * 0.3;
    left: $headerHeight * 0.3;
    transform: rotate(45deg);

    & > div {
      position: relative;
      width: 48%;
      height: 48%;
      margin: 0 1% 1% 0;
      float: left;
    }
  }

  .logged-in-menu, .logged-out-menu {
    position: absolute;
    right: $headerHeight * 0.2;
    top: 0;

    .menu-header {
      position: relative;
      height: $headerHeight;
      text-align: right;

      img {
        width: $headerHeight * 0.6;
        height: $headerHeight * 0.6;
        margin-top: $headerHeight * 0.2; 
        border-radius: 100%;
      }
    }
  }

  .new-game {
    position: absolute;
    right: $headerHeight;
    top: 0;

    line-height: $headerHeight;

    a {
      display: block;
      padding: 0 1.5rem;

      &:hover {
        background: $lightblue;
      }  
    }
  }
}